.container-sidebar__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0 15px;
}

.container-sidebar__logo-link {
  margin-right: auto;
}

.container-sidebar__menu-item {
  line-height: 1em;
  margin: 1.1rem 0;
}

.container-sidebar__menu-anchor {
  color: #F9F2E0;
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
}

.container-sidebar__social-media {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;

  margin-top: 20px;
  margin-bottom: 20px;
}

.container-sidebar__social-media-anchor {
  padding: 0 15px;
}

.container-sidebar__menu-item--active {
  color: #E32B46;
  font-weight: 400;
}

.container-sidebar__social-media-anchor > .fa {
  color: #3F4158;
}

.container-sidebar__selfie-mine {
  border-radius: 50%;
  display: block;
  width: 130px;
  height: 130px;
  margin-top: 115px;
  margin-left: auto;
  margin-right: auto;
}

@supports (display: grid) {
  .container-sidebar__avatar {
    grid-column: auto;
    grid-row-start: 1;
    grid-row-span: 1;
  }

  .container-sidebar__nav {
    grid-column: auto;
    grid-row-start: 2;
    grid-row-span: 1;
    overflow: auto;
    padding-right: 0;
  }

  .container-sidebar__social-media {
    grid-column: auto;
    grid-row-start: 3;
    grid-row-span: 1;
  }

  @media only screen and (min-width : 768px) {
    .container-sidebar__menu {
      align-items: flex-end;
      padding: 0;
    }

    .container-sidebar__nav {
      padding-right: 10px;
    }
  }

}

@media only screen and (min-width : 768px) {
  .container-sidebar__menu {
    align-items: flex-end;
  }

  .container-sidebar__social-media {
    margin-top: 0;
    margin-bottom: 0;
  }
}
