@import url('https://fonts.googleapis.com/css?family=Lato');

html {
  height: 100%;
  box-sizing: border-box;
  font-family: "Lato",sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  padding: 0;
}

@media (min-width: 800px) {
  html {
    line-height: 1.5;
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 22.4px;
    line-height: 1.6;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #0089BB;
}

p a:hover {
  text-decoration: underline;
}

strong {
  font-weight: normal;
}

.tag-link {
    color: #E32B46;
}
